<div id="map"></div>
<em>{{ include.caption }}</em>

<script>

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    mapTypeId: google.maps.MapTypeId.TERRAIN,
    disableDefaultUI: true,
    zoomControl: true,
    mapTypeControl: true,
  });
  
  {% for kml in include.kml %}
  var ctaLayer = new google.maps.KmlLayer({
    url: '{{ site.url}}{{ kml }}',
    map: map
  });
  {% endfor %}
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoXsfYRsjBIudkbtzruR_hcMqc7fBa0GQ&callback=initMap" async defer></script>
