<section>
  <div class="grid grid-pad grid-pad-builddate">
    <div class="col-4-12">
      <a href="https://github.com/andrewkingme/andrewkingme.github.io" class="header_builddate">BuildDate_GitHub</a>
    </div>
    <div class="col-8-12">
      <a href="https://github.com/andrewkingme/andrewkingme.github.io" class="header_builddate">{{ site.time }}</a>
    </div>
  </div>
</section>

<header>
  <div class="grid grid-pad">
    <div class="col-4-12">
      <a href="/" class="header_title">andrewking(me)</a>
    </div>
    <div class="col-8-12">
      <a href="/about/" class="header_link">/about</a>
      <br>
      <a href="/news/" class="header_link">/news</a>
      <br>
      <br>
      <a href="/work/" class="header_link">/work</a>
        {% for link in site.data.taglist %}
          <br><a href="{{ link.url }}" class="header_link">{{ link.name }}</a>
        {% endfor %}
      <br>
    </div>
  </div>
</header>
