<header>
  <div class="grid grid-pad header-mobile">
    <div class="col-4-12 header_title">
      <a href="/" class="header_title">andrewking(me)</a>
    </div>
    <div class="col-8-12">
      <a href="/about/" class="header_link">/about</a>
      <br>
      <br>
      <a href="/hike/" class="header_link">/hike</a>
        {% for link in site.data.taglist_hike %}
          <br><a href="{{ link.url }}" class="header_link">{{ link.name }}</a>
        {% endfor %}
      <br>
      <br>
      <a href="/work/" class="header_link">/work</a>
        {% for link in site.data.taglist_work %}
          <br><a href="{{ link.url }}" class="header_link">{{ link.name }}</a>
        {% endfor %}
    </div>
  </div>
</header>
