<div class="videoWrapper">
  <a href="#{{ include.image }}">
    <video autoplay loop muted poster="/{{ page.collection }}/img/{{ include.image }}">
      <source src="/{{ page.collection }}/img/{{ include.mp4 }}" type="video/mp4">
      <source src="/{{ page.collection }}/img/{{ include.webm }}" type="video/webm">
      <source src="/{{ page.collection }}/img/{{ include.ogg }}" type="video/ogg">
      <img src="/{{ page.collection }}/img/{{ include.image }}">
    </video>
  </a>
  <a href="#_" class="lightbox hide-lightbox-on-mobile" id="{{ include.image }}">
    <video autoplay loop muted poster="/{{ page.collection }}/img/{{ include.image }}">
      <source src="/{{ page.collection }}/img/{{ include.mp4 }}" type="video/mp4">
      <source src="/{{ page.collection }}/img/{{ include.webm }}" type="video/webm">
      <source src="/{{ page.collection }}/img/{{ include.ogg }}" type="video/ogg">
      <img src="/{{ page.collection }}/img/{{ include.image }}">
    </video>
  </a>
</div>
<em>{{ include.caption }}</em>
