---
# Sass Stylesheet
---

@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400);

$font-stack: Lato, Helvetica, Arial, sans-serif;
$color-1: #fff;
$color-2: #e8e8e8; /* Background */
$color-3: #323232; /* Primary Font Color */
$color-4: #000;
$color-5: #f8f8f8; /* Code Background */
$color-6: #aaa; /* Form Text */
$color-7: #999; /* Header Color */

/* Layout */

body {
  padding: 0;
  margin: 0;
  background-color: $color-1;
  font-family: $font-stack;
  font-size: 16px;
  color: $color-3;
  font-weight: 300;
}

a {
  color: $color-4;
  text-decoration: none;
  font-weight: 400;
}

.remove-link-formatting {
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

.title {
  color: $color-4;
  font-size: 24px;
}

hr {
  border: 0;
  background: $color-2;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-style: none;
}

/* Header */

header {
  background-color: $color-3;
  padding: 10px 0px 20px 0px;
  margin-bottom: 20px;
}
  
.header_title {
  color: $color-1;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  border-bottom: none;
  padding-bottom: 20px;
}

.header_link {
  text-decoration: none;
  color: $color-1;
  font-weight: 300;
}

/* Collections */

.collections {
  display: block;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 144px;
  border-top: 1px solid $color-2;
  border-bottom: none;
}

.collections:first-child {
  padding-top: 0;
  min-height: 124px;
  border: none;
}

.collections_image {
  float: left;
  margin-right: 20px;
  height: 104px;
  width: 191px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-2;
  transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  -ms-transition: opacity .25s ease;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
}

.collections:hover .collections_image {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.collections_title {
  overflow: hidden;
  color: $color-4;
}

.collections_tag {
  overflow: hidden;
  color: $color-4;
  font-weight: 300;
  margin-bottom: 0px;
}

.collections_abstract {
  overflow: hidden;
  color: $color-7;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Code */

.highlight {
  border: 1px solid $color-2;
  border-radius: 5px;
  background-color: $color-5;
  font-size: 12px;
  padding: 20px;
  overflow-x: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

p > code, li > code {
  border: 1px solid $color-2;
  border-radius: 5px;
  background-color: $color-5;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: middle;
}

pre {
  margin: 0px;
}

/* Lightbox */

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  border: none;
  background: rgba(0,0,0,0.8);
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

.lightbox img, .lightbox video {
  /** Pad the lightbox image */
  padding: 60px;
  max-height: 100%;
  max-width: 100%;
}

.zoom-in {
  cursor: zoom-in;
}

.zoom-out {
  cursor: zoom-out;
}

.close-icon {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21%204.41L19.59%203%2012%2010.59%204.41%203%203%204.41%2010.59%2012%203%2019.59%204.41%2021%2012%2013.41%2019.59%2021%2021%2019.59%2013.41%2012%2021%204.41z%22/%3E%0A%3C/svg%3E) center no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  cursor: pointer;
  display: block;
  height: 30px;
  overflow: hidden;
  position: fixed;
  top: 20px;
  right: 20px;
  text-align: center;
  text-indent: 100%;
  white-space: nowrap;
  width: 30px;
  z-index: 9999;
}


img {
  max-width: 100%;
  vertical-align: top;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.videoWrapper video {
  position: absolute;
  left: 0;
  width: 100%;
}

/* Maps */

#map {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}

/* Forms */

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  outline: 0;
  background-color: $color-1;
  border: 1px solid $color-2;
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-button {
  background-color: $color-1;
  border-radius: 3px;
  border: 1px solid $color-2;
  width: 100%;
  display: inline-block;
  color: $color-6;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  padding: 6px 24px;
}

.form-button:hover {
  background-color: $color-2;
}

textarea {
  overflow: auto;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
  color: $color-6;
}

input:-moz-placeholder, textarea:-moz-placeholder { 
  color: $color-6;
}

input::-moz-placeholder, textarea::-moz-placeholder { 
  color: $color-6;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
  color: $color-6;
}
