<!doctype html>
<html>
{% include license.html %}
{% include head.html %}
<body>
  {% include header.html %}
  
  <section>
    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">{{ page.title }}</span>
      </div>
      <div class="col-8-12">
        {{ content }}
      </div>
    </div>

    <div class="grid grid-pad">  
      <div class="col-4-12">
        <span class="title">@andrewkingme</span>
      </div>
      <div class="col-4-12">     
        <p><a href="https://twitter.com/andrewkingme/favorites">Favorite Tweets by @andrewkingme</a></p>
        <div class="twitter hide-on-mobile">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/andrewkingme/favorites" data-widget-id="602566183628374016" data-chrome="noheader nofooter noborders" height="400">Favorite Tweets by @andrewkingme</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
      <div class="col-4-12">
        <p><a href="https://twitter.com/andrewkingme">Tweets by @andrewkingme</a></p>
        <div class="twitter hide-on-mobile">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/andrewkingme" data-widget-id="602565985904697344" data-chrome="noheader nofooter noborders" height="400">Tweets by @andrewkingme</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
    
    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">mailto:andrew</span>
      </div>
      <div class="col-8-12">
        <form action="http://getsimpleform.com/messages?form_api_token=c5d54eca68668ba840d236733980d48b" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='http://andrewkingme.com/about/sent/index.html' />
          <!-- all your input fields here.... -->
          <input name='Name' type="test" class="form-control" id="name" placeholder="Name"><br>
          <input name='Email' type="email" class="form-control" id="email" placeholder="Email"><br>
          <textarea name='Message' type="text" class="form-control" id="message" placeholder="Message" rows='10'></textarea><br>
          <button type="submit" class="form-button">Send</button>
        </form>
      </div>
    </div>
  </section>

</body>
</html>
