<!doctype html>
<html>
{% include license.html %}
{% include head.html %}
<body>
  {% include header.html %}

  <section>
    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">{{ page.title }}</span>
      </div>
      <div class="col-8-12">
        {{ content }}
      </div>
    </div>

    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">Tip Jar</span>
      </div>
      <div class="col-8-12">
        <p>Thank you for your support and encouragement!</p>
        <div class="col-3-12">
          <a rel="payment" href="https://cash.app/$andrewkingme" class="cryptosurround link_remove_hover">
            <img src="/about/img/CashApp.png" alt="Cash App $andrewkingme" class="cryptoimage">
            <p class="cryptotitle">$andrewkingme</p>
            <p class="cryptoaddress">Cash App<br>$andrewkingme</p>
          </a>
        </div>
        <div class="col-3-12">
          <a rel="payment" href="ethereum:0xff72b26Ea072c1B01bD6ad8E12928B54B419B328" class="cryptosurround link_remove_hover">
            <img src="/about/img/Coinbase_ReceiveEthereum.png" alt="Ethereum 0xff72b26Ea072c1B01bD6ad8E12928B54B419B328" class="cryptoimage">
            <p class="cryptotitle">Ethereum</p>
            <p class="cryptoaddress">0xff72b26Ea072c1B01bD6ad8E12928B54B419B328</p>
          </a>
        </div>
        <div class="col-3-12">
          <a rel="payment" href="bitcoin:1phqSqsNVF4PErSnDJ17Nh8Wn9sDi4nQv" class="cryptosurround link_remove_hover">
            <img src="/about/img/Coinbase_ReceiveBitcoin.png" alt="Bitcoin 1phqSqsNVF4PErSnDJ17Nh8Wn9sDi4nQv" class="cryptoimage">
            <p class="cryptotitle">Bitcoin</p>
            <p class="cryptoaddress">1phqSqsNVF4PErSnDJ17Nh8Wn9sDi4nQv</p>
          </a>
        </div>
        <div class="col-3-12">
        </div>
      </div>
    </div>

    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">GitHub Sponsors</span>
      </div>
      <div class="col-8-12">
        <p>Looking for a way to regularly send support? Consider <a href="https://github.com/sponsors/andrewkingme">sponsoring me on GitHub Sponsors</a>, a platform dedicated to funding open source software development.</p>
        <p><a href="https://github.com/sponsors/andrewkingme/">https://github.com/sponsors/andrewkingme/</a></p>
      </div>
    </div>

    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">@andrewkingme</span>
      </div>
      <div class="col-4-12">
        <p><a href="https://twitter.com/andrewkingme/likes">Likes</a></p>
        <div class="twitter">
          <a class="twitter-timeline" data-height="400" data-dnt="true" data-theme="light" data-chrome="noheader nofooter noborders" href="https://twitter.com/andrewkingme/likes">Tweets Liked by @andrewkingme</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="col-4-12">
        <p><a href="https://twitter.com/andrewkingme">Tweets</a></p>
        <div class="twitter">
          <a class="twitter-timeline" data-height="400" data-dnt="true" data-theme="light" data-chrome="noheader nofooter noborders" href="https://twitter.com/andrewkingme">Tweets by andrewkingme</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>

    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">mailto:andrew</span>
      </div>
      <div class="col-8-12">
        <form action="https://getsimpleform.com/messages?form_api_token=c5d54eca68668ba840d236733980d48b" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='https://andrewkingme.com/about/sent/index.html' />
          <!-- all your input fields here.... -->
          <input name='Name' type="test" class="form-control" id="name" placeholder="Name"><br>
          <input name='Email' type="email" class="form-control" id="email" placeholder="Email"><br>
          <textarea name='Message' type="text" class="form-control" id="message" placeholder="Message" rows='10'></textarea><br>
          <button type="submit" class="form-button">Send</button>
        </form>
      </div>
    </div>


  </section>

</body>
</html>
