<!doctype html>
<html>
{% include license.html %}
{% include head.html %}
<body>
  {% include header.html %}

  <section>
    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">{{ page.title }}</span>
      </div>
      <div class="col-8-12">
        {% assign collection = site.[page.collection] | sort: 'date' | reverse %}
        {% for post in collection %}
          {% if post.tags contains page.tag %}
            <a href="{{ post.url }}" class="collections link_remove_hover">
              <div class="collections_image" style="background-image:url('{{ post.cover }}');"></div>
              <div class="collections_title">
                {{ post.title }}
              </div>
              {% if post.tags %}
                <div class="collections_tag">
                  {% for tag in post.tags %}
                    {% if tag != "all" %}
                      #{{ tag | output }}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
              <div class="collections_abstract">
                {{ post.content | split:'<!--more-->' | first | strip_html}}
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

</body>
</html>
