<!doctype html>
<html>
{% include license.html %}
{% include head.html %}
<body>
  {% include header.html %}

  <section>
    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">{{ page.title }}</span>
      </div>
      <div class="col-8-12">
        {{ content }}
      </div>
    </div>

    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">Tip Jar</span>
      </div>
      <div class="col-8-12">
        <div class="col-3-12">
          <p class="cryptosurround">
            <a rel="payment" href="ethereum:0xff72b26Ea072c1B01bD6ad8E12928B54B419B328"><img src="/support/img/Coinbase_ReceiveEthereum.png" alt="Ethereum 0xff72b26Ea072c1B01bD6ad8E12928B54B419B328"></a>
            <br>
            Ethereum
            <br><br>
            <p class="cryptoaddress"><a rel="payment" href="ethereum:0xff72b26Ea072c1B01bD6ad8E12928B54B419B328">0xff72b26Ea072c1B01bD6ad8E12928B54B419B328</a></p>
          </p>
        </div>
        <div class="col-3-12">
          <p class="cryptosurround">
            <a rel="payment" href="bitcoin:1phqSqsNVF4PErSnDJ17Nh8Wn9sDi4nQv"><img src="/support/img/Coinbase_ReceiveBitcoin.png" alt="Bitcoin 1phqSqsNVF4PErSnDJ17Nh8Wn9sDi4nQv"></a>
            <br>
            Bitcoin
            <br><br>
            <p class="cryptoaddress"><a rel="payment" href="bitcoin:1phqSqsNVF4PErSnDJ17Nh8Wn9sDi4nQv">1phqSqsNVF4PErSnDJ17Nh8Wn9sDi4nQv</a></p>
          </p>
        </div>
        <div class="col-3-12">
          <p class="cryptosurround">
            <a rel="payment" href="https://cash.app/$andrewkingme"><img src="/support/img/CashApp.png" alt="Cash App $andrewkingme"></a>
            <br>
            $andrewkingme
            <br><br>
            <p class="cryptoaddress"><a rel="payment" href="https://cash.app/$andrewkingme">Cash App<br>$andrewkingme</a></p>
          </p>
        </div>
        <div class="col-3-12">
          <p class="cryptosurround">

          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-pad">
      <div class="col-4-12">
        <span class="title">GitHub Sponsors</span>
      </div>
      <div class="col-8-12">
        <p>Looking for a way to regularly send support? Consider <a href="https://github.com/sponsors/andrewkingme">sponsoring me on GitHub Sponsors</a>, a platform dedicated to funding open source software development.</p>
        <p><a href="https://github.com/sponsors/andrewkingme/">https://github.com/sponsors/andrewkingme/</a></p>
      </div>
    </div>

  </section>

</body>
</html>
